/* 
* Stylesheet for the markup of glossary terms in wiki pages.
*/

.tooltip {
	display: inline;
	position: relative;
	cursor: help;
}

.tooltip_abbr {
    border-bottom: 1px dotted #bbf;
}

.tooltip_tipwrapper {
    display: none;

	position: absolute;
	top: 0;
	left: 0;

	padding: 1.5em 0 0 2em;
	width: 20em;

	z-index: 2;
}

.tooltip_tip {
	display: block;

	position: relative;
	top: 0em;
	left: 0em;

	background-color: #F9F9F9;
	padding: 0.5em;
	margin: 0;
	line-height: 1.2em;

	border: 1px solid #aaa;

	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: 3px 3px 3px #888;
	box-shadow: 3px 3px 3px	#888;
}

.tooltip_tip span {
	display: block;
}

.tooltip:hover .tooltip_tipwrapper {
    display: block;
}
